<div class="footer">
	<footer>Created and designed by Stefano Cattoni with a lot of help.<br> Copyright sforstefano 2017<br/><br/></footer>
	<a href="https://twitter.com/sforstefano/"><p class="tw">Twitter<p></a><a href="https://www.instagram.com/sforstefano/"><p class="ig">Instagram</p></a>
</div>