/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require_directory .
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
a:link {
	color: black;
    text-decoration: none;
}

a:visited {
	color: black;
    text-decoration: none;
}

a:hover {
	color: black;
    text-decoration: none;
}

a:active {
	color: black;
    text-decoration: none;
}
.footer{
	text-align: center;
	.tw{
		margin-left: 20%;
		text-align: left;
		float: left;
	}
	.ig{
		text-align: left;
		margin-left: 80%;
	}
}
.header{
	button{
		text-align: center;
		width: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: 	#FFFFFF;
		border: 1px solid black;
		margin-bottom: 1%;
	}
}
.lista{
	.todo{
		.peliculas{
			margin-left: 5%;
			a:link {
				color: black;
		    	text-decoration: none;
			}

			a:visited {
				color: black;
		    	text-decoration: none;
			}

			a:hover {
				color: black;
		    	text-decoration: none;
			}

			a:active {
				color: black;
		    	text-decoration: none;
			}
		}
	}

	.titulo{
		background-color: #B0B0B0;
		width: 80%;
		padding-left: 5%;
	}
}
.year{
	margin-left: 8%;
	margin-right: 20%;
	a:link {
		color: black;
    	text-decoration: none;
	}

	a:visited {
		color: black;
    	text-decoration: none;
	}

	a:hover {
		color: black;
    	text-decoration: none;
	}

	a:active {
		color: black;
    	text-decoration: none;
	}
	.number{
		margin-left: 4%;
	}
	.titulo{
		background-color: #B0B0B0;
		width: 80%;
		padding-left: 5%;
	}
	.peliculas{
		margin-left: 5%;
	}
}
.top-time{
	.titulo{
		background-color: #B0B0B0;
		width: 80%;
		padding-left: 5%;
	}
	.peliculas{
		margin-left: 5%;
	}

}
.show{
	margin-top: 3%;
	text-align: center;

	.showPeli{
		text-align: left;
		margin-left: 20%;
	}
}
.currentPeli{
	margin-top: 6%;
}
.crear{
	margin-left: 15%;
}
.xsAviso{
	text-align: center;
	font-size: 120%;
}
.xs{
	text-align: center;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: 	#FFFFFF;
	border: 1px solid black;
	a:link {
		color: black;
    	text-decoration: none;
	}

	a:visited {
		color: black;
    	text-decoration: none;
	}

	a:hover {
		color: black;
    	text-decoration: none;
	}

	a:active {
		color: black;
    	text-decoration: none;
	}
}
